$--color-success : #fff;
$--color-primary : #fff;
$--color-warning : #67c23a;
$--color-danger : #67c23a;
$--color-info : #67c23a;
$--color-text : #0080ff;

$--background-color-success : #19be6b;
$--background-color-primary : #1c7ed6;
$--background-color-warning : #f90;
$--background-color-danger : #ff3300;
$--background-color-info : #495057;
$--background-color-text : #fff;

$--border-color-success : #19be6b;
$--border-color-primary : #1c7ed6;
$--border-color-warning : #f90;
$--border-color-danger : #ff3300;
$--border-color-info : #495057;
$--border-color-text : #fff;

$--color-success-hover : #fff;
$--color-primary-hover : #fff;
$--color-warning-hover : #67c23a;
$--color-danger-hover : #67c23a;
$--color-info-hover : #67c23a;
$--color-text-hover : #0080ff;

$--background-color-success-hover : #1c7ed6;
$--background-color-primary-hover : #196eb9;
$--background-color-warning-hover : #f90;
$--background-color-danger-hover : #ff3300;
$--background-color-info-hover : #495057;
$--background-color-text-hover : #fff;

$--border-color-success-hover : #1c7ed6;
$--border-color-primary-hover : #1c7ed6;
$--border-color-warning-hover : #f90;
$--border-color-danger-hover : #ff3300;
$--border-color-info-hover : #495057;
$--border-color-text-hover: #fff;